.page-transition {
  position: relative;
  width: 100%;
  height: 100%;
}

.page-transition__content {
  width: 100%;
  height: 100%;
}

.page-transition__pixels {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
}

.page-transition__pixel {
  display: none;
  position: absolute;
  border: none;
  outline: none;
}
